# تجاهل الأدوات والمجلدات الكبيرة جداً
/android-sdk/
.gradle/
.idea/
.run/
build/
**/build/

# تجاهل ملفات الحزم والملفات التنفيذية
*.apk
*.aar
*.jar

# تجاهل ملفات الإعدادات المحلية والمؤقتة
local.properties
.DS_Store